# Archivos de entorno y caché de Python
__pycache__/
*.pyc
.env

# Directorios de datos
# Esta simple regla ignora la carpeta 'data' completa y todo su contenido.
# Es la forma más robusta y simple de hacerlo.
/data/

# Si por alguna razón SÍ quieres versionar la estructura de la carpeta
# pero no su contenido, puedes usar estas reglas en su lugar:
# data/*
# !data/.gitkeep

# Archivos de Notebooks
.ipynb_checkpoints

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db