# Archivos de entorno y caché de Python
__pycache__/
*.pyc
.env
.venv
venv

#MLflow
mlruns

# Archivos de Notebooks
.ipynb_checkpoints

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db
